<div class="row">
<div class="col-sm-6 mb-3 mb-sm-0" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'manos_jugando.jpg', class: 'profile_img' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Piedra Papel o Tijera</h5>
        <p class="card-text">Repositorio con programa codificado en ruby. Permite jugar el clasico piedra papel o tijera contra la maquina desde terminal.</p>
        <%# <a href="https://github.com/sebacontacto/PiedraPapelTijera" class="card-link">ver m치s</a> %>
        <%= link_to "ver m치s", "https://github.com/sebacontacto/PiedraPapelTijera", target: :_blank, class: "card-link text-decoration" %>
      </div>
    </div>
  </div>
</div>          

<div class="col-sm-6" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'retro_detective.webp', class: 'profile_img' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">IMC, Recalculo de Salario, Adivinar</h5>
        <p class="card-text">Repositorio con programas codificados en ruby. Permiten calcular el IMC, recalcular un salario y jugar a las adivinanzas con la maquina desde terminal.</p>
        <%= link_to "ver m치s", "https://github.com/sebacontacto/DesafioEvaluadoFlujoCiclosMetodosIII.git  ", target: :_blank, class: "card-link text-decoration" %>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'nasa_rover.jpg', class: 'profile_img' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Robots Fotografos en el Espacio</h5>
        <p class="card-text">Repositorio con programa codificado en ruby. Permite conectarse a la API de la NASA para obterner images captadas por alguno de sus rovers desde terminal.</p>
        <%= link_to "ver m치s", "https://github.com/sebacontacto/DesafioEvaluadoArreglosHashesyAPIs.git", target: :_blank, class: "card-link text-decoration" %>
      </div>
    </div>
  </div>
</div>
</div>